<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
        <div class="titulo">
            <h2>COLEGIO SAN MIGUEL</h2>
            <img class="imagen" src="/static/img/logo_colegio.png" width="800" height="80">
            <h6>ASISTENCIA PARA EL CURSO: {{ curso.anio }} {{ curso.division }}</h6>
    </div>
    <div id="contenedor">
        <div class="central">
            {% if alumnos is not none :%}
                {% for alumno in alumnos | sort(attribute='nombre') %}
                    {% if alumno.idcurso == curso.id :%}
                        <a href="{{ url_for('asistencia_alumno', alumno=alumno.id) }}" class="enlace">{{ alumno.nombre }} {{ alumno.apellido }}</a>
                        <br><br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>