<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Asistencia</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="titulo">
        <h2>COLEGIO SAN MIGUEL</h2>
    </div>
    <img class="imagen" src="/static/img/logo_colegio.png" width="800" height="100">
        <section class="login">
            <div class="central">
                <form action="{{ url_for('confirmar_asistencia')}}" method="post">
                    <div>
                        <input type="hidden" name="idalumno" value="{{ idalumno }}">
                        <p class="nombre">{{ alumno.nombre }} {{ alumno.apellido }}</p>
                    </div>
                    <div>
                        <select name="tipoclase" class="select-estilo">
                            <option value="1" name="Claseaula">Clase Aula</option>
                            <option value="2" name="Claseedu">Clase educacion Fisica</option>
                        </select>
                    </div>
                    <br><br>
                    <div>
                        <input type="date" id="start" name="fecha"
                        value="2013-06-24"
                        min="2023-01-01" max="2023-12-31" class="input-estilo">

                    </div>
                    <br><br>
                    <div>
                        <input type="text" name="asis" placeholder="Asistencia" class="input-estilo">
                    </div>
                    <br><br>
                    <div>
                        <input type="text" name="justificacion" placeholder="Justificacion" class="input-estilo">
                    </div>
                    <br><br>
                    <button type="submit">Confirmar asistencia</button>
                </form>
            </div>
        </section>
    <div class="centrado">
        <a class="resaltar" href="{{ url_for ('pagina_preceptor',preceptor=preceptor) }}">Volver a pagina principal</a> 
    </div>
</body>
</html>
