<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar inasistencias de un curso</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="titulo">
        <h2>COLEGIO SAN MIGUEL</h2>
    </div>
    <img class="imagen" src="/static/img/logo_colegio.png" width="800" height="100">
    <section class="login">
    <div class="central">
        <form action="{{ url_for('informe')}}" method="POST">
            <div>
                {% if cursos is not none :%} 
                    <label for="cursos">Cursos</label>
                    <select id="cursos" name="cursos" width="500px"class="select-estilo">
                        {% for curso in cursos %} 
                                <option value="{{ curso.id}}">{{ curso.anio }} {{ curso.division }}</option>
                        {% endfor %} 
                    </select>
                {% endif %}
            </div>
            <button type="submit">Verificar asistencia</button>
        </form>
    </div>
    </section>
    <div class="centrado">
        <a class="resaltar" href="{{ url_for ('pagina_preceptor') }}">Volver a pagina principal del Preceptor</a> 
    </div>
</body>
</html>