<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/estilos.css')}}">
</head>
<body>
    <div class="titulo">
        <h1> INICIO SESION COLEGIO SAN MIGUEL</h1>
    </div>
    <img class="imagen" src="/static/img/robot.png">
    <div id="contenedor">
        <section class="login">
            <br>
            <br>
            
            <div class="central">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="error-message">
                            <p class="my-box">{{ messages[0] }}</p>
                        </div>
                    {% endif %}
                {% endwith %}
                <br><br><br>
                <form action="{{ url_for('verificacion') }}" method="POST" id="loginform">
                    <div>
                        <h2 class="texto">Usuario:</h2>
                        <input type="email" name="correo" value="" placeholder="Correo">
                    </div>
                    <div>
                        <h2 class="texto">Contraseña:</h2>
                        <input type="password" name="contrasena" value="" placeholder="Contraseña">
                    </div>

                    <button type="submit">Ingresar</button>

                    
                </form>
            </div>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h3 class="inferior">Disclaimer:Al ser un practico Individual, se toma el rol Preceptor como unico rol</h3>
    </div>
</body>
</html>